<template>
  <v-layout row wrap justify-center align-center class="my-3">
    <v-flex xs3 offset-xs1 class="mr-3">
      <v-select chips autocomplete label="Exchanges:" :items="prospects" v-model="exchanges" multiple></v-select>
    </v-flex>
    <v-flex xs3 v-if="allSymbols.length > 0 && exchanges.length > 1 && errors.length < 1" class="mr-3">
      <v-select chips autocomplete :hint="`Delay: ${symbols.length * 5} seconds`" class="ba-1" label="Symbol Pair:" :items="allSymbols" v-model="symbols" multiple persistent-hint></v-select>
    </v-flex>
    <v-flex xs2>
      <v-btn large outline color="primary" :disabled="symbols.length < 1 || loading" :loading="loading" @click="$emit('click', exchanges, symbols)">BEGIN</v-btn>
    </v-flex>
    <v-flex xs6>
      <v-alert v-for="(error, i) in errors" :key="i" :value="true" type="error">
        {{error.message}}
      </v-alert>
    </v-flex>
  </v-layout>
</template>

<script>
import api from '@/model/api'
export default {
  name: 'ExchangeForm',
  data() {
    return {
      prospects: [],
      exchanges: [],
      allSymbols: [],
      loading: false,
      symbols: [],
      errors: []
    }
  },
  mounted() {
    this.fetchExchanges()
  },
  methods: {
    async fetchExchanges() {
      this.prospects = await api.exchanges()
    },
    async fetchSymbols() {
      const res = await Promise.all(this.exchanges.map(exchange => api.symbols(exchange)))
      const symbolGroups = res.filter(r => !r.error)
      this.errors = res.filter(r => r.error)
      const symbolsUnique = new Set(
        symbolGroups.reduce((res, symbols) => {
          return [...res, ...symbols]
        }, [])
      )
      this.allSymbols = Array.from(symbolsUnique).filter(symbol =>
        symbolGroups.every(group => group.includes(symbol))
      )
      this.loading = false
    }
  },
  watch: {
    exchanges: function() {
      this.allSymbols = []
      this.symbols = []
      this.loading = true
      this.fetchSymbols()
    }
  }
}
</script>
