<template>
  <v-layout row wrap justify-center align-center>
    <v-layout row wrap justify-center>
      <v-flex xs9>
        <v-tabs dark color="primary" fixed centered>
          <v-tab v-for="pair in pairs" :key="pair" :href="`#${pair}`" ripple>
            {{pair}}
          </v-tab>
          <v-tab-item v-for="pair in pairs" :key="pair" :id="pair">
            <v-card class="elevation-3 ma-1">
              <v-card-title class="headline">
                Bids & Asks:
              </v-card-title>
              <v-card-text>
                <v-data-table :headers="dataHeaders" :items="exchanges" hide-actions>
                  <template slot="items" slot-scope="props">
                    <td>{{ props.item.name }}</td>
                    <td>{{ props.item.data[pair].timestamp }}</td>
                    <td>{{ props.item.data[pair].bid }}</td>
                    <td>{{ props.item.data[pair].ask }}</td>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
            <v-card class="elevation-3 ma-1">
              <v-card-title>
                <div class="headline">Spread Matrix:</div>
              </v-card-title>
              <v-card-text>
                <v-data-table :headers="diffHeaders" :items="matrix[pair]" hide-actions>
                  <template slot="items" slot-scope="props">
                    <td>{{ `${exchanges[props.index].name} (B)` }}</td>
                    <td v-for="(item, i) in props.item" :key="i" :style="{ color: color(item, i, props.index) }">{{ i == props.index ? '#####' : `${item}%` }}</td>
                  </template>
                  <template slot="no-data">
                    <v-alert :value="true" color="info" icon="info">
                      Exchange setup in progress...
                    </v-alert>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-flex>
    </v-layout>
  </v-layout>
</template>

<script>
export default {
  name: 'Streams',
  props: {
    exchanges: Array,
    pairs: Array
  },
  data() {
    return {
      dataHeaders: [
        { align: 'left', text: 'Exchange', value: 'name' },
        { align: 'left', text: 'Timestamp', value: 'timestamp' },
        { align: 'left', text: 'Bid', value: 'bid' },
        { align: 'left', text: 'Ask', value: 'ask' }
      ],
      interval: '1m',
      best: { bid: -1, ask: -1, value: Infinity },
      matrix: this.pairs.reduce((total, pair) => {
        total[pair] = []
        return total
      }, {}),
      threshhold: 0
    }
  },
  mounted() {
    window.setInterval(this.computeExchangeStats, 5000)
  },
  watch: {
    diff: function() {
      if (this.diff > this.threshhold) {
        console.log(this.diff)
      }
    }
  },
  computed: {
    bestPair: function() {
      if (this.best.value === Infinity) {
        return ''
      }
      return `Best Opportunity (${this.best.pair}): ${this.best.value} [${
        this.exchanges[this.best.bid].name
      } (Bid) & ${this.exchanges[this.best.ask].name} (Ask)]`
    },
    diffHeaders: function() {
      const headers = [{ align: 'left', text: 'Exchange', sortable: false, value: 'exchange' }]
      return headers.concat(
        this.exchanges.map(stream => {
          return { align: 'left', text: `${stream.name} (A)`, sortable: false, value: stream.name }
        })
      )
    }
  },
  methods: {
    computeExchangeStats() {
      // default best pair
      this.best = { bid: -1, ask: -1, value: -Infinity }
      this.matrix = {}
      // iterate through all pairs
      this.pairs.forEach(pair => {
        // setup the matrix for each pair
        this.matrix[pair] = this.exchanges.map((bidder, i) => {
          return this.exchanges.map((asker, j) => {
            // buy at the ask price and sell at the bid price
            const spread =
              (bidder.data[pair].ask - asker.data[pair].bid) / bidder.data[pair].ask * -100
            // check if this opportunity is better than the current best
            if (i !== j && this.best.value < spread) {
              this.best = { bid: i, ask: j, value: spread, pair }
            }
            return spread
          })
        })
      })
    },
    color(value, i, j) {
      if (i === j) {
        return 'black'
      }
      return value > 0 ? '#004D40' : '#B71C1C'
    }
  }
}
</script>
