<template>
  <v-app>
    <v-toolbar dark fixed app color="primary">
      <v-toolbar-title>Crypto-Arbitrage</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-title>{{pairs.join(", ")}}</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <exchange-form @click="update"></exchange-form>
        <streams class="my-3" :exchanges="exchanges" :pairs="pairs" v-if="pairs.length > 0"></streams>
      </v-container>
    </v-content>
    <v-footer fixed app>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
import Streams from '@/components/Streams'
import ExchangeForm from '@/components/ExchangeForm'
import Exchange from '@/model/exchange'
export default {
  name: 'App',
  data() {
    return {
      exchanges: [],
      pairs: []
    }
  },
  components: {
    'exchange-form': ExchangeForm,
    streams: Streams
  },
  methods: {
    update(exchanges, pairs) {
      this.exchanges.forEach(exchange => clearInterval(exchange.interval))
      this.exchanges = exchanges.map(name => new Exchange({ name, pairs }))
      this.pairs = pairs
    }
  }
}
</script>
